@page "/identity-resources"
@using Volo.Abp.MultiTenancy
@inherits MateupComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<h3>Index</h3>

@code {

}
